#marcoJuego{
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 52rem;
    background-color: black;
}

#pantalla{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 115rem;
    height: 28rem;
    background-color: white;
    margin: 2rem;
    margin-bottom: 0rem;
}

#controles{
    display: flex;
    flex-direction: column;
    width: 115rem;
    height: 20rem;
    background-color: green;
    margin: 2rem;
    margin-top: 0rem;
}

#infoPlayers{
    display: flex;
    flex-direction: row;
    width: 115rem;
    height: 6rem;
    background-color: aliceblue;
}

#infoPlayer1{
    display: flex;
    justify-content: center;
    background-color: #1478bb;
    height: 6rem;
    width: 57.5rem;
}

#infoPlayer2{
    display: flex;
    justify-content: center;
    display: flex;
    background-color: #b9123a;
    height: 6rem;
    width: 57.5rem;
}

.indicadorVida{
    display: flex;
    height: 2rem;
    margin-top: 1rem;
    background-color: antiquewhite;
}

#botones{
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 115rem;
}

#botonesPlayer1, #botonesPlayer2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57.5rem;
}

#botonesPlayer1{
    background-color: #1478bb;
}

#botonesPlayer2{
    background-color: #b9123a;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 7rem;
    border-radius: 2rem;
    background-color: rgb(2, 2, 168);
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
}

button:focus{
    outline: none;
}

#equipos{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 115rem;
}

#luchadoresJugador1, #luchadoresJugador2{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 57.5rem;
    background-color: blue;
} 

img{
    display: flex;
    align-self: center;
    width: 7rem;
    height: 7rem;
    margin-left: 1rem;
}

.pantalla{
    justify-content: center;
    align-content: center;
    width: 115rem;
}

#pantalla1{
    background-image: url("../img/Inicio.jpg");
    background-color: black;
}

#pantalla2{
    background-image: url("../img/equipos.jpeg");
    background-color: black;
}

#pantalla3{
    background-image: url("../img/round1.jpg");
    background-color: black;
}

#pantalla4{
    background-image: url("../img/round2.jpg");
    background-color: black;
}

#pantalla5{
    background-image: url("../img/round3.jpg");
    background-color: black;
}

#pantalla6{
    background-image: url("../img/ganador.jpeg");
    background-color: black;
}